@media screen and (max-width: 1200px) {
  section {
    margin: 2rem 5%;
    padding: 2rem;
  }

  .nav-links {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  section {
    margin: 1rem;
    padding: 1.5rem;
  }

  .contact-info-upper-container {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}
